@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Lora&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.container {
  width: 100%;
  max-width: 1060px;
  margin: 0 auto; }

header {
  height: 750px; }

@font-face {
  font-family: 'gothampro';
  src: url("../fonts/gothampro.eot");
  src: local("☺"), url("../fonts/gothampro.woff") format("woff"), url("../fonts/gothampro.ttf") format("truetype"), url("../fonts/gothampro.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'GothamProMedium';
  src: url("../fonts/GothamProMedium.eot");
  src: local("☺"), url("../fonts/GothamProMedium.woff") format("woff"), url("../fonts/GothamProMedium.ttf") format("truetype"), url("../fonts/GothamProMedium.svg") format("svg");
  font-weight: 700;
  font-style: normal; }

.h1 {
  font-family: 'Lora', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 40px; }

.h2 {
  font-family: 'Lora', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 41px;
  color: rgb(255, 255, 255); }

.h5 {
  font-family: 'gothampro';
  font-size: 15px;
  color: rgb(255, 255, 255);
  line-height: 18px; }

.main_title_lawyer {
  font-family: 'GothamProMedium';
  font-style: normal;
  font-weight: bold;
  font-size: 62px;
  line-height: 59px; }

.subtitle_text {
  font-family: 'gothampro';
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 117.2%; }

.form_h4 {
  font-family: 'GothamProMedium';
  font-weight: 700;
  font-size: 16px;
  line-height: 117.2%;
  color: rgb(255, 255, 255); }

.form_h5, #name, #phone {
  font-family: 'gothampro';
  font-weight: 400;
  font-size: 15px;
  line-height: 117.2%;
  color: #9CA2AA; }

.btn {
  font-family: 'GothamProMedium';
  font-weight: 700;
  font-size: 16px;
  line-height: 117.2%; }

.ytp1 {
  font-family: 'gothampro';
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 23px;
  color: #4A4F55; }

.header_ytp_dovod_text1 {
  font-family: 'gothampro';
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 117.2%;
  color: #FFFFFF; }

.header_ytp_dovod02, .header_ytp_dovod03 {
  font-family: 'gothampro';
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 117.2%;
  color: #FFFFFF; }

.work_stages_text {
  font-family: 'gothampro';
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 117.2%;
  color: #FFFFFF; }

.box_text01, .box_text02, .box_text03 {
  font-family: 'gothampro';
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 117.2%;
  color: #FFFFFF; }

.work_stages_subtitle {
  font-family: 'gothampro';
  font-style: normal;
  font-weight: normal;
  font-size: 17px; }

.work_stages_text {
  font-family: 'gothampro';
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 117.2%;
  color: #FFFFFF; }

.work_stages_number {
  font-family: 'GothamProMedium';
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 24px;
  color: #4A4F55; }

.case_title {
  font-family: 'GothamProMedium';
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  color: #ffffff; }

p {
  font-family: 'gothampro';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 117.2%;
  color: #ffffff; }

.form_action_subtitle {
  font-family: 'gothampro';
  font-weight: 400;
  font-size: 15px;
  line-height: 117.2%;
  color: #9CA2AA; }

body {
  background: #0B111A; }

.header {
  background-image: url(/img/bground01.png);
  background-repeat: no-repeat; }

.header_head {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.head_logo {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center; }

.head_text_logo {
  font-family: 'gothampro';
  font-size: 17px;
  float: right;
  margin-left: 5px;
  margin-top: 10px;
  color: #ffffff; }

a {
  text-decoration: none; }

.head_column_number {
  margin-left: auto;
  font-family: 'gothampro';
  font-size: 22px;
  color: rgb(255, 255, 255) !important;
  pointer-events: none !important;
  color: #fff !important;
  cursor: default !important;
  text-decoration: none !important; }

.head_column_menu {
  margin: 0px 195px 0px 195px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap; }

.header_head_text02 {
  margin: 0px 50px 0px 50px; }

.h1 {
  color: #ffffff; }

.subtitle_text {
  color: #ffffff; }

.gold {
  color: #D19130; }

.header_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.main_title_text {
  margin-top: 160px;
  margin-bottom: 50px; }

.header_form_title {
  margin-top: 145px;
  border: 2px solid #4A4F55;
  padding: 60px; }

.form_action_title {
  margin-bottom: 20px; }

input {
  color: #9CA2AA;
  width: 287px;
  padding: 0px 0px 10px 0px;
  background: none;
  border: none;
  border-bottom: 2px solid #4A4F55; }

input::-webkit-input-placeholder {
  color: #9CA2AA; }

input:-ms-input-placeholder {
  color: #9CA2AA; }

input::-ms-input-placeholder {
  color: #9CA2AA; }

input::placeholder {
  color: #9CA2AA; }

input::focus {
  outline: none; }

.form_action_subtitle {
  margin-bottom: 38px; }

.name {
  margin-bottom: 38px; }

.btn {
  width: 287px;
  height: 50px;
  background-color: #D19130;
  border: none;
  color: rgb(255, 255, 255); }

.header_ytp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 76px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.header_ytp_dovod {
  border: solid #D19130;
  border-width: 2px  0px 2px 2px;
  width: 75px;
  height: 75px;
  font-size: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative; }
  .header_ytp_dovod::before {
    content: '';
    width: 2px;
    height: 55%;
    background: #D19130;
    position: absolute;
    top: 0;
    right: 0; }
  .header_ytp_dovod::after {
    content: '';
    width: 2px;
    height: 15%;
    background: #D19130;
    position: absolute;
    bottom: 0;
    right: 0; }
  .header_ytp_dovod_number1 {
    font-size: 1.4em;
    text-align: center;
    color: #4A4F55; }
  .header_ytp_dovod_text1 {
    font-size: 1em;
    margin-left: 25px;
    color: #fff; }

.header_ytp_dovod_text {
  max-width: 118px; }

.header_ytp_dovod02 {
  margin: 0px 120px 0px 157px; }

.about_header {
  margin-top: 90px;
  margin-bottom: 100px; }

.about_rows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.rows_column01_text {
  margin-top: 40px; }

.about_rows_column02 {
  margin: 0px 74px 0px 74px; }

.work_stages_title {
  margin-top: 190px;
  margin-bottom: 100px; }

.work_stages_subtitle {
  margin-bottom: 40px; }

.work_stages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.work_stages01_box, .work_stages02_box, .work_stages03_box, .work_stages04_box {
  border: 2px solid #4A4F55;
  width: 340px;
  height: 68px;
  margin: 0px 75px 30px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .work_stages01_box::before, .work_stages02_box::before, .work_stages03_box::before, .work_stages04_box::before {
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: #D19130;
    position: relative;
    right: 6px; }

.work_stages_number {
  margin-left: auto;
  margin-right: 30px; }

.work_stages_text {
  margin-left: 30px; }

.work_everyday_title {
  margin-top: 145px;
  margin-bottom: 30px; }

.box_text_gradient {
  width: 40px;
  height: 40px;
  margin-right: 30px;
  border-radius: 50px;
  background: radial-gradient(#D19130 0%, #D19130 18%, transparent 18%, transparent 25%, rgba(209, 145, 48, .17) 25%, transparent 70%); }

.work_everyday_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.box_text_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.boxes {
  margin-top: 60px;
  margin-bottom: 60px; }

.everyday_box_formaction {
  border: 2px solid #4A4F55;
  padding: 60px; }

hr {
  width: 115px;
  border: 1px solid #D19130;
  -webkit-transform: rotate(118.81deg);
  transform: rotate(118.81deg); }

.screen5_our_case_title {
  margin-top: 135px;
  margin-bottom: 100px; }

.screen5_our_case {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

p {
  margin-top: 10px; }

.case_column {
  width: 520px;
  height: 560px;
  border: 2px solid #4A4F55;
  padding: 50px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 30px; }

.case_column02 {
  width: 520px;
  height: 461px;
  border: 2px solid #4A4F55;
  padding: 50px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.container_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.container_box1 {
  margin-right: 96px;
  font-size: 32px;
  color: #fff; }

.container_box2_boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 122px; }

.container_box2_boxes1 {
  margin-right: 25px; }

.btn_box_action {
  margin-top: 60px; }

.container_box1_text_subtitle {
  font-family: 'gothampro';
  font-weight: 400;
  font-size: 15px;
  line-height: 117.2%;
  color: #9CA2AA;
  margin-top: 30px; }

.footer_head {
  margin-top: 200px; }

.footer_rows_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 60px;
  margin-bottom: 20px; }

.footer_text {
  font-family: 'gothampro';
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  color: #9CA2AA; }

.politics {
  font-family: 'gothampro';
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 117.2%;
  color: #363B3F; }

.politics_box {
  opacity: 0; }

.politics_box:target {
  opacity: 1; }

@media screen and (max-width: 1060px) {
  .container {
    max-width: 640px;
    margin: 0 auto; }
  .head_column_menu {
    display: none; }
  .header_title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .main_title_text {
    text-align: center; }
  .subtitle_text {
    text-align: center; }
  .about_header {
    margin-top: 560px; }
  .about_header_title {
    text-align: center; }
  .about_rows {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center; }
  .about_rows_column02 {
    margin-top: 85px;
    margin-bottom: 85px; }
  .work_stages_title, .work_stages_subtitle {
    text-align: center; }
  .work_stages {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .work_stages01_box, .work_stages02_box, .work_stages03_box, .work_stages04_box {
    margin: 15px 0px 0px 0px; }
  .work_everyday_title {
    text-align: center; }
  .work_everyday_box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .everyday_box_text {
    margin-bottom: 60px; }
  hr {
    display: none; }
  .screen5_our_case_title {
    text-align: center;
    margin-bottom: 80px; }
  .screen5_our_case {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .box-case01 {
    width: 81.25%;
    height: 77.8125%;
    margin: 0 auto;
    margin-bottom: 30px; }
  .box-case02 {
    width: 81.25%;
    margin: 0 auto;
    height: 71.09375%;
    margin-bottom: 30px; }
  .box-case03 {
    height: 88.125%;
    width: 81.25%;
    margin: 0 auto;
    margin-bottom: 30px; }
  .box-case04 {
    height: 64.84375%;
    width: 81.25%;
    margin: 0 auto;
    margin-bottom: 30px; }
  .container_box {
    margin-top: 100px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .container_box1 {
    margin: 0; }
  .container_box1_text, .container_box1_text_subtitle {
    text-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .footer_head {
    margin-top: 150px; }
  .footer_rows_box {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; } }

@media screen and (max-width: 640px) {
  .container {
    max-width: 540px;
    margin: 0 auto; }
  .h2 {
    font-family: 'Lora', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 41px;
    color: rgb(255, 255, 255); }
  .header_head {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .head_column_number {
    margin: 0 auto;
    margin-top: 30px; }
  .main_title_text {
    margin-top: 70px; }
  .h1 {
    font-family: 'Lora', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px; }
  .header_ytp {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .header_ytp_dovod02 {
    margin: 0% 0% 0% 29.0740741%; }
  .header_ytp_dovod03 {
    margin-top: 20px; }
  .header_form_title {
    margin-top: 70px;
    border: 2px solid #4A4F55;
    padding: 9.25925926%;
    width: 75.3703704%; }
    .header_form_title br {
      display: none; }
  .form_action_title {
    margin-bottom: 20px; }
  input {
    color: #9CA2AA;
    width: 100%;
    padding: 0px 0px 10px 0px;
    background: none;
    border: none; }
  input::-webkit-input-placeholder {
    color: #9CA2AA; }
  input:-ms-input-placeholder {
    color: #9CA2AA; }
  input::-ms-input-placeholder {
    color: #9CA2AA; }
  input::placeholder {
    color: #9CA2AA; }
  .form_action_subtitle {
    margin-bottom: 38px; }
  .name {
    margin-bottom: 38px;
    margin: 0px 0px 38px 0px;
    border-bottom: 2px solid #4A4F55; }
  .btn {
    width: 100%;
    height: 50px;
    background-color: #D19130;
    border: none;
    color: rgb(255, 255, 255); }
  .about_rows_column01, .about_rows_column02, .about_rows_column03 {
    width: 83.3333333%;
    margin: 0 auto; }
  .about_header {
    margin-top: 480px;
    margin-bottom: 20px; }
  .icon {
    margin-top: 60px; }
  .work_stages_title {
    margin-bottom: 80px; }
  .work_stages01_box, .work_stages02_box, .work_stages03_box, .work_stages04_box {
    height: 12.5925926%;
    margin: 0 auto;
    position: relative;
    margin-bottom: 20px;
    border: 2px solid #4A4F55;
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .work_stages01_box::before, .work_stages02_box::before, .work_stages03_box::before, .work_stages04_box::before {
      content: '';
      width: 10px;
      height: 10px;
      border-radius: 100%;
      background: #D19130;
      position: absolute;
      left: -6px;
      top: 5; }
    .work_stages01_box br, .work_stages02_box br, .work_stages03_box br, .work_stages04_box br {
      display: none; }
  .work_stages_number {
    margin: 0; }
  .work_stages_text {
    margin: 0;
    font-family: 'gothampro';
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 117.2%;
    color: #FFFFFF; }
  .work_everyday_title {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 80px; }
  .work_everyday_box {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .box_text_gradient {
    margin: 0px 15px 0px 0px; }
  .box_text01, .box_text02, .box_text03 {
    width: 76%; }
    .box_text01 br, .box_text02 br, .box_text03 br {
      display: none; }
  .everyday_box_formaction {
    margin-top: 70px;
    border: 2px solid #4A4F55;
    padding: 9.25925926%;
    width: 75.3703704%; }
    .everyday_box_formaction br {
      display: none; }
  .form_action_title {
    margin-bottom: 20px; }
  input {
    color: #9CA2AA;
    width: 100%;
    padding: 0px 0px 10px 0px;
    background: none;
    border: none; }
  input::-webkit-input-placeholder {
    color: #9CA2AA; }
  input:-ms-input-placeholder {
    color: #9CA2AA; }
  input::-ms-input-placeholder {
    color: #9CA2AA; }
  input::placeholder {
    color: #9CA2AA; }
  .form_action_subtitle {
    margin-bottom: 38px; }
  .name {
    margin-bottom: 38px;
    margin: 0px 0px 38px 0px;
    border-bottom: 2px solid #4A4F55; }
  .btn {
    width: 100%;
    height: 50px;
    background-color: #D19130;
    border: none;
    color: rgb(255, 255, 255); }
  .container_box1_text_subtitle {
    margin-bottom: 60px; }
  .container_box2_boxes {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 auto;
    border: 2px solid #4A4F55;
    padding: 9.25925926%;
    width: 75.3703704%; }
  input {
    color: #9CA2AA;
    width: 100%;
    padding: 0px 0px 10px 0px;
    background: none;
    border: none; }
  input::-webkit-input-placeholder {
    color: #9CA2AA; }
  input:-ms-input-placeholder {
    color: #9CA2AA; }
  input::-ms-input-placeholder {
    color: #9CA2AA; }
  input::placeholder {
    color: #9CA2AA; }
  .name {
    width: 100%;
    margin-bottom: 38px;
    margin: 0px 0px 38px 0px;
    border-bottom: 2px solid #4A4F55; }
  .btn {
    width: 100%;
    height: 50px;
    background-color: #D19130;
    border: none;
    color: rgb(255, 255, 255); }
  .container_box2_boxes1 {
    margin: 0;
    width: 100%; }
  .container_box2_boxes2 {
    margin: 0;
    width: 100%; }
  .box_text_box {
    margin: 0;
    margin: 0 auto; }
  .box_text_box.boxes {
    margin: 0;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px; }
  .footer_rows_box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center; } }
