@import url('https://fonts.googleapis.com/css?family=Lora&display=swap');
// font-family: 'Lora', serif;

@font-face {
	font-family: 'gothampro';
	src: url('../fonts/gothampro.eot');
	src: local('☺'), url('../fonts/gothampro.woff') format('woff'), url('../fonts/gothampro.ttf') format('truetype'), url('../fonts/gothampro.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'GothamProMedium';
	src: url('../fonts/GothamProMedium.eot');
	src: local('☺'), url('../fonts/GothamProMedium.woff') format('woff'), url('../fonts/GothamProMedium.ttf') format('truetype'), url('../fonts/GothamProMedium.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}



.h1 {
  font-family: 'Lora', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  // line-height: 51px;
}

.h2{
  font-family: 'Lora', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 41px;
  color: #ffff;
}

.h5{
  font-family: 'gothampro';
  font-size: 15px;
  color: #ffff;
  line-height: 18px;
}

.main_title_lawyer {
	font-family: 'GothamProMedium';
  font-style: normal;
  font-weight: bold;
  font-size: 62px;
  line-height: 59px;
}

.subtitle_text {
  font-family: 'gothampro';
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 117.2%;
}

.form_h4 {
	font-family: 'GothamProMedium';
  font-weight: 700;
  font-size: 16px;
  line-height: 117.2%;
  color: #ffff;
}

.form_h5, #name, #phone {
  font-family: 'gothampro';
  font-weight: 400;
  font-size: 15px;
  line-height: 117.2%;
  color: #9CA2AA;
}


.btn{
	font-family: 'GothamProMedium';
  font-weight: 700;
  font-size: 16px;
  line-height: 117.2%;
}

.ytp1 {
  font-family: 'gothampro';
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 23px;
  color: #4A4F55;
}

.header_ytp_dovod_text1 {
  font-family: 'gothampro';
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 117.2%;
  color: #FFFFFF;
}

.header_ytp_dovod02, .header_ytp_dovod03 {
  font-family: 'gothampro';
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 117.2%;
  color: #FFFFFF;
} 

.work_stages_text{
  font-family: 'gothampro';
  font-style: normal;
  font-weight: normal;
  // font-size: 17px;
  line-height: 117.2%;
  color: #FFFFFF;
}

.box_text01, .box_text02, .box_text03 {
  font-family: 'gothampro';
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 117.2%;
  color: #FFFFFF;
}

.work_stages_subtitle{
  font-family: 'gothampro';
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
}

.work_stages_number {
	font-family: 'GothamProMedium';
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 24px;  
  color: #4A4F55;
}

.case_title {
	font-family: 'GothamProMedium';
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  color: #ffffff;
}

p {
  font-family: 'gothampro';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 117.2%;
  color: #ffffff;
}

.form_action_subtitle{
  font-family: 'gothampro';
  font-weight: 400;
  font-size: 15px;
  line-height: 117.2%;
  color: #9CA2AA;
}